*{
    margin: 0px;
}

.advertisement{
    display: flex;
    flex: 1fr, 400px;
}

.carousel{
    width: 400px;
    padding-top: 80px;
}

.Shop_with_us{
    background-image: url(https://knect365.imgix.net/uploads/Anime-df0b53c350ec90e775d21afd0e110979-0bef3a6436ef1f259f71a27409ce54c0.jpg?auto=compress&fit=max&w=412&dpr=5);
    height: 90vh;
    width: 80vw;
    background-position: center;
    background-size: cover;
}

.title{
    background-color: white;

}

@media(max-width: 650){
    .advertisement{
        height: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.shop-now img{
    height: 300px;
    margin-left: 50px;

}
.shop-now h1{
    text-align: center;
}
.shop-now-button{
    height: 50px;
    width: 200px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
    background-image: linear-gradient(to left bottom, grey, black);
    font-weight: bold;
    color: white;
    margin-left: 100px;
}
