*{
    margin: 0px;
    padding: 0;
    list-style-type: none;
    text-decoration: 0;
    box-sizing: border-box;
    
}


h1{
    text-align: center;
}

/* ============================  contact Section ===================*/
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #0000;
    background-color: orange;
    height: 260px;
    margin-top: 30px; 
}

.container3 h1{
    text-align: center;
    font-size: 55px;
    vertical-align: middle;
}

address{
    font-size: 20px;
    text-align: center;
    padding: 80px;
}

  .contactinfo{
        padding: 80px;
    }


}

