.header{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: end;
    align-items: center;
    z-index: 1;
    padding: 0 30px;
    background-color: rgba(85, 48, 0, 0.891);
    color: black;
    font-weight: bold;
}

.logo-name{
    font-size: 54px;
    font-weight: bold;
    font-family: Oleo script swash caps;
    text-align: center;
    background-color: white;
    color: red;
}


.hamburger{
    display: none;
}



.menue ul {
    display: flex;
    margin-right: 15px;
}

.menue ul li a {
    display: block;
    padding-right: 50px;
    font-size: 24px;
    border-radius: 50px;
    padding: 10px 25px;
    transition: .2s;
    cursor: pointer;
    margin: 0px 5px;
}

.menue ul li a:hover{
    color: black;
    background-color: white;
}

.menue ul li a.active{
    color: black;
    background-color: white;
}

@media only screen and (max-width:1320px) {
    .header{
        padding: 0 50px;
        width: 100%;
    }

    
}

@media only screen and (max-width:1100px) {
    .header{
        padding: 0 30px;
    }

    
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .menue {
        height: 0;
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0;
        width: 100vw;
        transition: .2s;
        background-color: black;
        overflow: hidden;
    }
    
    .menue.active{
        height: 450px;
    }

    .menue ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .menue.active ul{
        opacity: 1;
        color: white;
    }

    .menue ul li a{
        margin-bottom: 12px;
    }

    
}
